@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee;
}

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --strava-orange: #fc5200;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-strava-orange: var(--strava-orange);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl;
  }
}

@layer components {
  .profileContainer {
    @apply flex justify-center;
  }

  .profilePic {
    @apply rounded-full size-50 min-w-50 object-cover m-5;
  }

  .profileDetails {
    @apply my-20;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
