@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default --prefersdark, light;
}

[data-theme='light'] {
  --background: #f6f6f6;
  --middleground: #ffffff;
  --foreground: #171717;
}

[data-theme='dark'] {
  --background: #000000;
  --middleground: #151515;
  --foreground: #f6f6f6;
}

@theme {
  --color-background: var(--background);
  --color-middleground: var(--middleground);
  --color-foreground: var(--foreground);
  --color-strava-orange: #fc5200;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans py-1;
  }

  h3 {
    @apply text-base;
  }

  h5 {
    @apply text-xs;
  }

  h6 {
    @apply font-bold;
  }
}

@layer components {
  .profilePic {
    @apply rounded-full size-50 min-w-50 object-cover m-5;
  }

  .logo {
    @apply w-15;
  }

  .icon {
    @apply size-5;
  }

  .iconContainer {
    @apply flex items-center gap-x-2.5;
  }

  .card:not(.card-highlight) {
    @apply mx-25 my-5 bg-middleground min-w-130;
  }

  .list-disc {
    @apply ml-5;
  }

  .screenshotContainer {
    @apply flex gap-x-5;
  }

  .screenshot {
    @apply w-0 flex-1;
  }

  .theme-control {
    @apply m-5;
  }
}