@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee;
}

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --strava-orange: #fc5200;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-strava-orange: var(--strava-orange);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  h3 {
    @apply text-base;
  }

  h5 {
    @apply text-xs;
  }

  h6 {
    @apply font-bold;
  }
}

@layer components {
  .profilePic {
    @apply rounded-full size-50 min-w-50 object-cover m-5;
  }

  .logo {
    @apply w-15;
  }

  .icon {
    @apply size-5;
  }

  .iconContainer {
    @apply flex items-center gap-x-2.5;
  }

  .card:not(.card-highlight) {
    @apply mx-25 my-5 bg-white min-w-100;
  }

  .list-disc {
    @apply ml-5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  padding-top: 1px;
}
